{% extends 'template.html' %}

{% block content %}

<h2>About</h2>

<p>I acknowledge that the land on which this app was developed
  is the traditional unceded territory of Wolastoqiyik
  (Maliseet). This territory is covered by the Treaties of Peace
  and Friendship which the Wolastoqiyik (Maliseet), Mi'kmaq, and
  Passamaquoddy peoples first signed with the British Crown in
  1725. The treaties did not deal with surrender of lands and
  resources but in fact recognized Wolastoqey (Maliseet),
  Mi'kmaq, and Passamaquoddy title and established the rules for
  what was to be an ongoing relationship between nations.</p>

<p>This app was developed
  by <a href="http://cs.unb.ca/~ccook1/">Paul Cook</a> as part
  of an assignment
  for <a href="https://www.unb.ca/academics/calendar/undergraduate/current/frederictoncourses/firstnations/abrg-3686.html">ABRG3686
    Wolastoqey Language 1</a>. It follows the
  Wəlastəkwey/Wolastoqey alphabets as described by
  the <a href="https://www.skicinowato.com/">Wəlastəkwey
    Latowewakən/Wolastoqey Latuwewakon Curriculum Committee
    (WLCC)</a>. The <a href="https://github.com/cpaulcook/WolastoqeyAlphabetConverter">source
        code</a> is freely available.</p>

<p>To the best of my current understanding, there is an ambiguity in
  converting between Teeter and Newell-Hale with respect to
  word-initial <em>kw</em>. In such a case, this character sequence
  should be converted to <em>q</em>, unless the <em>k</em> corresponds
  to the personal prefix, in which case it should be unchanged. There
  could be further complications with the use of word-initial
  apostrophe in such cases. For these reasons, this app does not
  attempt to convert word-initial <em>kw</em> when converting from
  Teeter to Newell-Hale, and does not attempt to convert
  word-initial <em>q</em> when converting from Newell-Hale to Teeter
  (in both cases, regardless of whether the word begins with an
  apostrophe). The app does, however, highlight character sequences
  that were not converted because of this. The guiding principle
  behind this decision was that no answer is better than an incorrect
  answer. Work on improving this behaviour is ongoing. Discussion on
  this issue would be very much welcome.</p>

<p>Feedback on this app would be very welcome. If you spot
  errors, please let me know. Woliwon!</p>

{% endblock %}
